<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Сброс пароля</title>
</head>
<body>
    <h2>Сброс пароля</h2>
    <p>Здравствуйте, {{ user.username }}!</p>
    <p>Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи.</p>
    <p>Пожалуйста, перейдите по следующей ссылке, чтобы сбросить пароль:</p>
    <p><a href="{{ reset_link }}">Сбросить пароль</a></p>
    <p>Если вы не запрашивали сброс пароля, проигнорируйте это письмо.</p>
    <p>Ссылка действительна в течение 24 часов.</p>
    <p>С уважением,<br>Команда Daamduu</p>
</body>
</html> 